In [1]:
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv("Melbourne_housing_FULL.csv")

In [3]:
ds.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
ds.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [5]:
col_to_fill=['CouncilArea','Car','BuildingArea']

In [6]:
ds[col_to_fill].fillna(0)

                    CouncilArea  Car  BuildingArea
0            Yarra City Council  1.0           0.0
1            Yarra City Council  1.0           0.0
2            Yarra City Council  0.0          79.0
3            Yarra City Council  1.0           0.0
4            Yarra City Council  0.0         150.0
...                         ...  ...           ...
34852  Maribyrnong City Council  3.0           0.0
34853  Maribyrnong City Council  1.0         104.0
34854  Maribyrnong City Council  2.0         120.0
34855  Maribyrnong City Council  0.0           0.0
34856  Maribyrnong City Council  0.0         103.0

[34857 rows x 3 columns]

In [7]:
ds.dropna(inplace=True)

In [8]:
ds.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra City Council,-37.80240,144.99930,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra City Council,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,Wollert,27 Birchmore Rd,3,h,500000.0,PI,Ray,24/02/2018,25.5,3750.0,...,2.0,2.0,383.0,118.0,2016.0,Whittlesea City Council,-37.61940,145.03951,Northern Metropolitan,2940.0
34849,Wollert,35 Kingscote Wy,3,h,570000.0,SP,RW,24/02/2018,25.5,3750.0,...,2.0,2.0,404.0,158.0,2012.0,Whittlesea City Council,-37.61031,145.03393,Northern Metropolitan,2940.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [10]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8887 entries, 2 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         8887 non-null   object
 1   Address        8887 non-null   object
 2   Rooms          8887 non-null   int64
 3   Type           8887 non-null   object
 4   Price          8887 non-null   float64
 5   Method         8887 non-null   object
 6   SellerG        8887 non-null   object
 7   Date           8887 non-null   object
 8   Distance       8887 non-null   float64
 9   Postcode       8887 non-null   float64
 10  Bedroom2       8887 non-null   float64
 11  Bathroom       8887 non-null   float64
 12  Car            8887 non-null   float64
 13  Landsize       8887 non-null   float64
 14  BuildingArea   8887 non-null   float64
 15  YearBuilt      8887 non-null   float64
 16  CouncilArea    8887 non-null   object
 17  Lattitude      8887 non-null   float64
 18  Longtitude     8887 non-null   float64
 19  Regionname     8887 non-null   object
 20  Propertycount  8887 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.5+ MB

In [20]:
ds = pd.get_dummies(ds, drop_first=True)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x=ds.drop('Price',axis=1)

In [23]:
Y=ds['Price']

In [24]:
x

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,...,0,1,0,0,1,0,0,0,0,0
6,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.80720,...,0,1,0,0,1,0,0,0,0,0
11,3,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,-37.80240,...,0,1,0,0,1,0,0,0,0,0
14,2,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,-37.80600,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,3,25.5,3750.0,3.0,2.0,2.0,383.0,118.0,2016.0,-37.61940,...,0,0,0,0,1,0,0,0,0,0
34849,3,25.5,3750.0,3.0,2.0,2.0,404.0,158.0,2012.0,-37.61031,...,0,0,0,0,1,0,0,0,0,0
34853,2,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,-37.81551,...,0,0,0,0,0,0,0,0,1,0
34854,2,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,-37.82286,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,-37.81810,...,0,0,0,0,0,0,0,0,1,0

In [25]:
x_train, x_test, Y_train, Y_test = train_test_split(x,Y,test_size=0.2)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
reg = LinearRegression()

In [28]:
reg.fit(x_train,Y_train)

LinearRegression()

In [29]:
reg.score(x_train,Y_train)

1.0