<a href="https://colab.research.google.com/github/PUNNYA-P-GAUR/Machine-Learning/blob/main/Workshop_Application_of_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/creditcard.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
legit=data[data.Class==0]
fraud=data[data.Class==1]

In [ ]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
legit_sample=legit.sample(n=492)

In [ ]:
new_data=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
239175,149991.0,2.032610,-0.193407,-1.150122,0.559042,-0.122505,-0.940205,0.119979,-0.321505,0.749981,...,0.142394,0.746639,-0.004170,0.092997,0.204596,0.726274,-0.062931,-0.069988,11.50,0
213380,139233.0,2.058216,-0.341962,-0.634181,0.274131,-0.222164,-0.003679,-0.555059,-0.056974,1.382131,...,0.134774,0.716194,-0.017505,-0.949786,0.079003,-0.153748,0.048212,-0.045393,4.99,0
112534,72691.0,-2.394853,-1.058666,0.721252,0.797910,2.513993,-1.318426,-1.357916,0.090536,0.159217,...,-0.574063,-0.884201,-1.011257,-0.800057,-0.667686,0.250136,0.545741,0.013435,8.00,0
164542,116799.0,-0.719580,-0.035904,0.731716,-2.251763,0.620914,-0.006911,0.636876,-0.033043,-1.993347,...,0.533465,1.222010,-0.471650,0.293766,1.077291,0.187168,-0.042039,0.037970,79.80,0
146735,87854.0,-0.515019,-0.339595,1.529654,1.283963,-0.654336,0.171598,0.283212,0.171295,0.324789,...,0.309638,0.576475,0.516517,-0.077783,-0.519251,-0.601416,0.102747,0.110000,201.98,0

In [ ]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
new_data['Class'].mean()

0.5

In [ ]:
data['Class'].mean()

0.001727485630620034

In [ ]:
X=new_data.drop(columns='Class',axis=1)
Y=new_data['Class']

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [ ]:
model=LogisticRegression()

In [ ]:
# model=LogisticRegression(max_iter=3000)

In [ ]:
model.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
pred=model.predict(X_train)

In [ ]:
acc=accuracy_score(pred,Y_train)
acc

0.9174078780177891

In [ ]:
pred=model.predict(X_test)

In [ ]:
acc=accuracy_score(pred,Y_test)
acc

0.9137055837563451

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/TSLA.csv')

In [ ]:
data.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
1  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
2  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500
3  2010-07-07  3.280  3.326  2.996  3.160      3.160  34608500
4  2010-07-08  3.228  3.504  3.114  3.492      3.492  38557000

In [ ]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2.392000e+03
mean,36.649554,37.283815,35.986936,36.657329,36.657329,2.711845e+07
std,22.876772,23.231798,22.509281,22.889387,22.889387,2.353644e+07
min,3.228000,3.326000,2.996000,3.160000,3.160000,5.925000e+05
25%,6.852000,6.960000,6.710000,6.869500,6.869500,9.365000e+06
50%,42.445002,43.211000,41.623002,42.334000,42.334000,2.264150e+07
75%,52.797000,53.558498,52.023500,52.780499,52.780499,3.619625e+07
max,87.000000,87.061996,85.269997,86.188004,86.188004,1.858195e+08

In [ ]:
data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [ ]:
data['Volume'].value_counts()

4938000     2
43728000    2
4998500     2
23475000    2
16331500    2
           ..
67008500    1
40867000    1
31367000    1
41263500    1
51428500    1
Name: Volume, Length: 2367, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE

In [ ]:
data=pd.read_csv('/Default_Fin.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   Employed       10000 non-null  int64
 2   Bank Balance   10000 non-null  float64
 3   Annual Salary  10000 non-null  float64
 4   Defaulted?     10000 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 390.8 KB

In [ ]:
data.head()

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1       8754.36      532339.56           0
1      2         0       9806.16      145273.56           0
2      3         1      12882.60      381205.68           0
3      4         1       6351.00      428453.88           0
4      5         1       9427.92      461562.00           0

In [ ]:
data.isnull().sum()

Index            0
Employed         0
Bank Balance     0
Annual Salary    0
Defaulted?       0
dtype: int64

In [ ]:
data['Defaulted?'].value_counts()

0    9667
1     333
Name: Defaulted?, dtype: int64

In [ ]:
data.groupby('Defaulted?').mean()

                  Index  Employed  Bank Balance  Annual Salary
Defaulted?
0           5003.251060  0.708596   9647.324961  402793.999321
1           4920.636637  0.618619  20973.858378  385069.762162

In [ ]:
data['Defaulted?'].mean()

0.0333

In [ ]:
data.rename(columns = {'Defaulted?':'Defaulted'}, inplace = True)

In [ ]:
legit=data[data.Defaulted == 0]
fraud=data[data.Defaulted == 1]

In [ ]:
legit.Employed.describe()

count    9667.000000
mean        0.708596
std         0.454433
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Employed, dtype: float64

In [ ]:
fraud.Employed.describe()

count    333.000000
mean       0.618619
std        0.486457
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Employed, dtype: float64

In [ ]:
data.groupby('Defaulted').mean()

                 Index  Employed  Bank Balance  Annual Salary
Defaulted
0          5003.251060  0.708596   9647.324961  402793.999321
1          4920.636637  0.618619  20973.858378  385069.762162

In [ ]:
legit_sample=legit.sample(n=492)

In [ ]:
new_data=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_data.head()

      Index  Employed  Bank Balance  Annual Salary  Defaulted
7382   7383         1       5803.68      570211.92          0
4609   4610         1       7883.76      386703.60          0
8157   8158         1       6354.12      459943.32          0
8214   8215         1      17364.48      269203.68          0
5370   5371         1      19121.16      882650.76          0

In [ ]:
new_data['Defaulted'].value_counts()

0    492
1    333
Name: Defaulted, dtype: int64

In [ ]:
new_data['Defaulted'].mean()

0.4036363636363636

In [ ]:
X=new_data.drop(columns='Defaulted',axis=1)
Y=new_data['Defaulted']

In [ ]:
g5X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=50)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(825, 4) (660, 4) (165, 4)

In [ ]:
sm = SMOTE(random_state=50)
X, Y = sm.fit_resample(X, Y)
print('Resampled dataset shape %s' % Counter(Y))

Resampled dataset shape Counter({0: 492, 1: 492})

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=50)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(984, 4) (787, 4) (197, 4)

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
pred=model.predict(X_train)
acc=accuracy_score(pred,Y_train)
acc

0.7827191867852605

In [ ]:

pred=model.predict(X_test)
acc=accuracy_score(pred,Y_test)
acc

0.8223350253807107